        <div>
    <h3 id="userType">{{data.fname}} {{data.lname}}</h3>
    <a href="/logout">logout</a>
    </div>
        <h1>Admin Dashboard</h1>
    <form id="search" method="POST">
        <h3>Book unique places to stay and things to do.</h3>
        <table>
            <tbody>
                <tr>
                    <td>
                        <lable>WHERE</lable>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><select id="city" name="cities">
                            <option value="toronto">Toronto</option>
                            <option value="vancouver">Vancouver</option>
                            <option value="montreal">Montreal</option>
                            <option value="otawa">Otawa</option>
                        </select></td>
                </tr>
                <tr>
                    <td><label>CHECK-IN</label></td>
                    <td>CHECKOUT</td>
                </tr>
                <tr>
                    <td><input type="date" /></td>
                    <td><input type="date" /></td>
                </tr>
                <tr>
                    <td><label>GUESTS</label></td>
                </tr>
                <tr>
                    <td colspan="2"><select id="guests" name="numberOfGuests">
                            <option value="1">1 guest</option>
                            <option value="2">2 guests</option>
                            <option value="3">3 guests</option>
                            <option value="4">4 guests</option>
                        </select></td>
                </tr>
                <tr>
                    <td><input type="submit" name="search" value="Search">
                    </td>
            </tbody>
        </table>

    </form>
    <section id="promotion">
        <h1>50% OFF</h1>
        <p>Join us today and get up to 50% off for all type of reservations</p>
    </section>
    <section id="info">
        <img src="Photos/1.jpg">
        <img src="Photos/2.jpg">
        <img src="Photos/3.jpg">
        <img src="Photos/4.jpg">
        <div><h1>Why Airbnb?</h1></div>
    

        <iframe width="800px" height="400px" src="https://www.youtube.com/embed/-XSAqfK_UwY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </section>
