<!DOCTYPE html>
<html>

<head>
    <title>Room Listing</title>
    <link rel="stylesheet" href="stylesheet.css" />
</head>

<body>
    <header>
        <img id="logo" src="/Photos/logo.png" />
        <nav>
            <a href="/login">Login</a>
            <a href="/home">Home</a>
            <a href="/roomListing">Room Listing</a>
            <a href="/registeration">Register</a>
        </nav>
    </header>
    <section id="login">
        <h1>Log in</h1>
        <form method="POST">
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
            <input id="btn" type="submit" value="Login">
        </form>
    </section>


<footer>
    <a href="https://www.facebook.com/airbnb">facebook</a>
    <a href="https://www.instagram.com/airbnb/">instagram</a>

    <h5>Saddam Faisal</h5>

</footer>
</body>

</html>