<!DOCTYPE html>
<html>

<head>
    <title>Room Listing</title>
    <link rel="stylesheet" href="stylesheet.css" />
</head>

<body>
    <header>
        <img id="logo" src="/Photos/logo.png" />
        <nav>
            <a href="/login">Login</a>

            <a href="/home">Home</a>
            <a href="/roomListing">Room Listing</a>
            <a href="/registeration">Register</a>
        </nav>
    </header>
    <section>
        <form id="registeration" method="POST">
            <h3>sign up with Facebook or Google</h3>
            <table>
                <tbody>
                    <tr>
                        <td>
<input type="text" placeholder="Email Address"/>                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" placeholder="First name"/>     
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" placeholder="Last name"/>     
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>Birthday</lable>
                            <lable>To sign up ,you need to be at least 18,other people who use airbnb will not see your birthday</lable>
                        </td>
                    </tr>
               
                </tr>
                <tr>
                    <td><input type="date" /></td>
                    
                </tr>
                <tr>
                    <tr>
                        <td>
                            <lable>we will send you marketing promotions,special offers,inspirations,and policy updates via email</lable>
                            
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="sign up" value="sign up">
                        </td>
                </tbody>
            </table>
    
        </form>
    </section>


<footer>
    <a href="https://www.facebook.com/airbnb">facebook</a>
    <a href="https://www.instagram.com/airbnb/">instagram</a>

    <h5>Saddam Faisal</h5>

</footer>
</body>

</html>